<%= form_with(model: song, local: true) do |form| %>
  <% if song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(song.errors.count, "error") %> prohibited this song from being saved:</h2>

      <ul>
        <% song.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :durationseconds %>
    <%= form.number_field :durationseconds %>
  </div>

  <div class="field">
    <%= form.label :BPM %>
    <%= form.number_field :BPM %>
  </div>

  <div class="field">
    <%= form.label :genre_id %>
    <%= form.select :genre_id, Genre.all.collect {|u| [u.name, u.id]}, :prompt => 'Select' %>
  </div>

  <div class="field">
    <%= form.label :artist_id %>
    <%= form.select :artist_id, Artist.all.collect {|u| [u.name, u.id]}, :prompt => 'Select' %>
  </div>

  <div class="field">
    <%= form.label :album_id %>
    <%= form.select :album_id, Album.all.collect {|u| [u.name, u.id]}, :prompt => 'Select' %>
  </div>

  <div class="field">
    <% if song.mp3.attached? %>
    <!--fixed (thanks monsieur) -->
        <audio controls>
          <source src="<%= rails_blob_url @song.mp3 %>" />
        </audio>
    <% end %>
    <%= form.label :mp3 %>
    <%= form.file_field :mp3 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
