<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @song.name %>
</p>

<p>
  <strong>Durationseconds:</strong>
  <%= @song.durationseconds %>
</p>

<p>
  <strong>Bpm:</strong>
  <%= @song.BPM %>
</p>

<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>
