<!DOCTYPE html>
<html>
  <head>
    <title>MusicMania</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul>
      <li><%= link_to 'Songs', songs_path %></li>
      <li><%= link_to 'Artists', artists_path %></li>
      <li><%= link_to 'Albums', albums_path %></li>
      <li><%= link_to 'Genres', genres_path %></li>
      <li><%= link_to 'Playlists', playlists_path %></li>
    </ul>
    <%= yield %>
  </body>

  <footer>
    <p>Music Makes Me Lose Control, A Final Project For Coding Class. <br><b>ඞ 2022 All Rights Reserved ඞ</b></p>
  </footer>
</html>
